<p>modify-health-plan works!</p>

<div class="container" *ngFor="let plan of healthPlansService.plans">
	<div id="plan_{{plan.planId}}">
		<div class="form-group">
			<label>Plan Type</label>
			<input value="{{plan.planType}}" type="text" name="plan" [(ngModel)]="plan.planType" class="form-control" placeholder="Plan Type" required />
		</div>
		<div class="form-group">
			<label>Plan Name</label>
			<input value="{{plan.planName}}" type="text" name="plan" [(ngModel)]="plan.planName" class="form-control" placeholder="Plan Name" required />
		</div>
		<div class="form-group">
			<button class="btn btn-success btn-lg btn-block" (click)="healthPlansService.changeHealthPlan(plan.planId, plan)">Modify Plan</button>
		</div>
		<div class="form-group">
			<button class="btn btn-danger btn-lg btn-block" (click)="healthPlansService.deleteHealthPlan(plan.planId); removeModifyPlan(plan.planId);">
				Delete Plan
			</button>
		</div>
		<!--<div class="form-group">
			<button class="btn btn-danger btn-lg btn-block" (click)='this.removeModifyPlan("plan_" + plan.planId)'>
				Delete Plan
			</button>
		</div>-->
	</div>
</div>