
@{
    ViewData["Title"] = "HealthPlansAngular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HealthPlansAngular</h1>

@*The component below needs to be placed inside a root.*@
@*<app-health-plans-component></app-health-plans-component>*@

@*This is another module app that can be placed inside a main.ts*@
<app-health>Loading!</app-health>