@{
	ViewData["Title"] = "Home Page";
}

<!--https://www.youtube.com/watch?v=pLQVtF3h4Gg-->
<!--https://www.youtube.com/watch?v=16rQyEQtpyQ-->

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<app-root></app-root>

@*<app-test-component>Loading</app-test-component>*@